body {
  margin: 0%;
}
#btnContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 30px;
  justify-content: center;
}

/* .dispenseBtnContainer {
  /* margin-top: 100px; */
/* } */
.heading-Container {
  background-color: rgb(238, 238, 56);
  width: 100%;
  margin: auto;
  padding: 10px;
}

.heading1 {
  margin: 0px;
}
.heading2 {
  margin: 0px;
}

.coffeeImg {
  height: 300px;
  width: 300px;
}
